<div class="container">

  <!-- Resources -->
  <h2>{{ 'html.create_new' | translate }}</h2>

  <div class="row">
    <div class="col-md-10">

      <mat-horizontal-stepper [linear]="isLinear" #stepper>

        <mat-step [stepControl]="firstFormGroup"
                  [editable]=false>
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>{{ 'html.user_info' | translate }}</ng-template>
            <mat-form-field appearance="fill">
              <mat-label>{{ 'html.username' | translate }}</mat-label>
              <input matInput
                     [formControl]="newVisioData.name"
                     name="name"
                     required
              >
              <mat-error *ngIf="newVisioData.name.invalid">{{getErrorMessage("name")}}</mat-error>
            </mat-form-field>
            <br>

            <mat-form-field appearance="fill">
              <mat-label>{{ 'html.email_addr' | translate }}</mat-label>
              <input matInput
                     [formControl]="newVisioData.email"
                     name="email"
                     required
              >
              <mat-error *ngIf="newVisioData.email.invalid">{{getErrorMessage("email")}}</mat-error>
            </mat-form-field>
            <br>

            <div>
              <button mat-button matStepperNext>{{ 'html.next' | translate }}</button>
            </div>

          </form>
        </mat-step>


        <mat-step [stepControl]="secondFormGroup"
                  [editable]=false>
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>{{ 'html.user_needs' | translate }}</ng-template>
            <p>{{ 'html.needs' | translate }}</p>

            <mat-form-field appearance="fill">
              <mat-label>{{ 'html.select_type' | translate }}</mat-label>
              <mat-select placeholder="Select visio size"
                          [(ngModel)]="newVisioData.server_type" [ngModelOptions]="{standalone: true}"
                          name="selectedVisioSize"
                          matNativeControl ngDefaultControl>
                <mat-option *ngFor="let vsize of visioSizes" [value]="vsize.value">
                  {{vsize.view}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <br>

            <p>{{ 'html.select_datetime' | translate }}</p>

            <table *ngIf="!newVisioData.isNow">
              <tbody>
              <tr>
                <td>
                  <mat-form-field appearance="fill">
                    <mat-label>{{ 'html.select_date' | translate }}</mat-label>
                    <input matInput
                           type="date"
                           [formControl]="newVisioData.start_date"
                           name="selectedVisioStartDate"
                    >
                    <mat-error *ngIf="newVisioData.start_date.invalid">{{getErrorMessage("start_date")}}</mat-error>
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field appearance="fill">
                    <mat-label>{{ 'html.select_time' | translate }}</mat-label>
                    <input matInput
                           type="time"
                           [formControl]="newVisioData.start_time"
                           name="selectedVisioStartTime"
                           >
                    <mat-error *ngIf="newVisioData.start_time.invalid">{{getErrorMessage("start_time")}}</mat-error>
                  </mat-form-field>
                </td>
              </tr>
              </tbody>
            </table>
            <div class="form-group">
              <label>
                <input style="margin: 0 12px;" class="selection-cb"
                       type="checkbox"
                       name="selectNow"
                       formControlName="myCheckbox"
                >
                {{ 'html.now' | translate }}
              </label>
            </div>
            <br>

            <p>{{ 'html.select_duration' | translate }}</p>

            <table class="col-md-6">
              <tbody>
              <tr>
                <td>
                  <mat-form-field appearance="fill">
                    <mat-select placeholder=""
                                [(ngModel)]="newVisioData.duration_hour" [ngModelOptions]="{standalone: true}"
                                name="selectedVisioDurationHour"
                                matNativeControl>
                      <mat-option *ngFor="let vduration of visioDurationsHour" [value]="vduration.value">
                        {{vduration.view}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field appearance="fill">
                    <mat-select placeholder=""
                                [(ngModel)]="newVisioData.duration_min" [ngModelOptions]="{standalone: true}"
                                name="selectedVisioDurationmin"
                                matNativeControl>
                      <mat-option *ngFor="let vduration of visioDurationsMin" [value]="vduration.value">
                        {{vduration.view}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
              </tr>
              </tbody>
            </table>
            <br>

            <mat-form-field appearance="fill">
              <mat-label>{{ 'html.description' | translate }}</mat-label>
              <textarea matInput></textarea>
            </mat-form-field>

            <div>
              <button mat-button matStepperNext>{{ 'html.next' | translate }}</button>
            </div>

          </form>
        </mat-step>

        <mat-step [stepControl]="thirdFormGroup"
                  [editable]=false>
          <ng-template matStepLabel>{{ 'html.done' | translate }}</ng-template>

          <p>{{ 'html.done_now' | translate }}</p>

          <div class="form-group">
            <button mat-button (click)="stepper.reset()">{{ 'html.reset' | translate }}</button>
            <button type="button" (click)="onSubmit()"
                    class="btn btn-primary float-right small">{{ 'html.request_new_video' | translate }}</button>
          </div>
        </mat-step>

      </mat-horizontal-stepper>
    </div>
  </div>

  <mat-spinner *ngIf="showSpinner" style="position:fixed;right:40%;bottom:50%"></mat-spinner>

</div>
