/* Styles go here */
html, body {
  height: 100vh;
  padding: 0;
  margin: 0;
  position: relative;
}

.container {
  width: 100%;
  height: 100%;
  display: contents;
  flex-direction: column;
}

.main-container {
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px; /* height of your footer */
}

.header {
  background-color: #7f7f7f;
  padding: 0px;
  padding-left: 50px;
  flex-shrink: 0;
  flex-grow: 0;
}

.body {
  flex-grow: 1;
  flex-shrink: 1;
  overflow: auto;
  min-height: 2em;
}

.footer {
  margin-top: 0px;
  background-color: white;
  bottom: 0;
  width: 100%;
  flex-shrink: 0;
  flex-grow: 0;
}

.content {
  flex-shrink: 1;
  flex-grow: 1;
}

.footer_row {
  width: 100%;
  overflow: hidden;
  display: flex;
  padding-right: 10%;
  padding-left: 10%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer_item {
  flex-basis: auto;
  vertical-align: top;
  overflow: hidden;
  display: flex;
}

.footer_item img {
  object-fit: contain;
  max-height: 100%;
  height: 50px;
  max-width: 100%;
  padding: 2px;
}

#partners {
  height: 50px;
  width: 100%;
}

.logo-image {
  vertical-align: middle;
  box-sizing: border-box;
  max-width: 20%;
}

.logo-image img {
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  background: tomato;
  padding: 5px;
  width: 100px;
  height: 100px;
  margin-top: 10px;

  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}
