.custom-cc-box mat-dialog-container{
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  max-width: 24em;
}
.custom-cc-link{
  opacity: .8;
  display: inline-block;
  padding: .2em;
  text-decoration: underline;
}
