
<h2 mat-dialog-title>{{ 'cookie.policy' | translate }}</h2>
<div mat-dialog-content>{{ 'cookie.message' | translate }}
    <a aria-label="En savoir plus sur les conditions d'utilisation du service" tabindex="0" class="custom-cc-link" href="assets/static/tos.html" target="_blank">{{ 'cookie.tosLink' | translate }}</a>
    <a aria-label="En savoir plus sur la Politique de gestion des données personnelles" tabindex="0" class="custom-cc-link" href="assets/static/privacy.html" target="_blank">{{ 'cookie.privacyPolicyLink' | translate }}</a>
</div>
<div mat-dialog-actions>
  <button aria-label="Refuser" mat-raised-button mat-dialog-close="deny" tabindex="0">{{ 'cookie.deny' | translate }}</button>
  <button aria-label="Accepter" mat-raised-button color="primary" mat-dialog-close="accept" tab-index="0">{{ 'cookie.allow' | translate }}</button>
