<div class="container">
  <br>

  <div fxLayout="row wrap" class="align">

    <div fxLayout="column"  fxFlex.sm="0 0 calc(99%)"  fxFlex.md="0 0 calc(32%)" fxFlex.gt-md="0 0 calc(32%)" fxLayoutGap="1%" class="align">
      <mat-card class="basic-card content" fxFlex="calc(50%)">
        <mat-card-header>
          <div mat-card-avatar class="card-header-image-doge"></div>
          <mat-card-title>{{ 'html.bbb_manager' | translate }}</mat-card-title>
          <mat-card-subtitle>{{ 'html.main_subtitle' | translate }}</mat-card-subtitle>
        </mat-card-header>
        <img [hidden]="isDisclaimerOk()" mat-card-image src="/assets/images/doge-full.jpg" alt="">
        <mat-card-content [hidden]="isDisclaimerOk()">
          <p>
            {{ 'html.main_text1' | translate }}
            <mat-list role="list">
              <mat-list-item role="listitem">
                {{ 'html.main_item1' | translate }}
              </mat-list-item>
              <mat-list-item role="listitem">{{ 'html.main_item2' | translate }}</mat-list-item>
            </mat-list>
          </p>
          <p>
          <mat-chip-list></mat-chip-list>
            <a routerLink="/visio-create" style="color: blue"><mat-chip aria-hidden="true" role="none" class="small-chip" style="max-height:20px;background-color:blue;"
                                                        selected>{{ 'html.link' | translate }}</mat-chip> {{ 'html.create' | translate }}</a>
          </p>
          <p>
            <mat-chip role="none" class="small-chip" style="max-height:20px;background-color:#2D8655;"
                      selected>{{ 'html.features' | translate }}</mat-chip> : {{ 'html.bbb_features' | translate }}
          </p>
        </mat-card-content>
      </mat-card>

      <mat-card class="basic-card content" fxFlex="calc(50%)">
        <mat-card-header>
          <mat-card-title style="display: flex;">
            <img mat-card-image style="max-height:50px;width:auto;" src="/assets/images/youtube.png"
                [attr.alt]="'alt.youtube_logo' |translate">
            {{ 'html.tutorials' | translate }}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{ 'html.youtube' | translate }}
          </p>
          <table class="table">
            <tr>
              <td><a href="https://www.youtube.com/embed/Hso8yLzkqj8" target="_BLANK"><img src="https://img.youtube.com/vi/Hso8yLzkqj8/3.jpg" [attr.alt]="'alt.tutorial_greenlight_admin' | translate" /></a></td>
              <td>{{ 'html.greenlight_admin' | translate }}</td>
            </tr>
            <tr>
              <td><a href="https://www.youtube.com/embed/Q2tG2SS4gXA" target="_BLANK"><img src="https://img.youtube.com/vi/Q2tG2SS4gXA/3.jpg" [attr.alt]="'alt.tutorial_bbb_moderator' | translate"/></a></td>
              <td>{{ 'html.bbb_moderator' | translate }}</td>
            </tr>
            <tr>
              <td><a href="https://www.youtube.com/embed/uYYnryIM0Uw" target="_BLANK"><img src="https://img.youtube.com/vi/uYYnryIM0Uw/3.jpg" [attr.alt]="'alt.tutorial_bbb_participant' | translate"/></a></td>
              <td>{{ 'html.bbb_participant' | translate }}</td>
            </tr>
          </table>
        </mat-card-content>
      </mat-card>

    </div>

    <div fxLayout="column"  fxFlex.sm="0 0 calc(99%)"  fxFlex.md="0 0 calc(65%)" fxFlex.gt-md="0 0 calc(65%)" fxLayoutGap="1%" class="align" >

      <div fxLayout="row" fxLayoutGap="1%" class="align">
        <mat-card class="basic-card card-layout-long">
          <mat-card-header>
            <div mat-card-avatar class="card-header-image-inria"></div>
            <mat-card-title>{{ 'html.inria_systems' | translate }}</mat-card-title>
            <mat-card-subtitle>{{ 'html.visio_at_inria' | translate }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              {{ 'html.visio_systems' | translate }}
            </p>
          </mat-card-content>
        </mat-card>
      </div>

      <div fxLayout="row wrap" fxLayoutGap="1%" class="align">

        <mat-card class="basic-card content" fxLayoutGap="1%" fxFlex.sm="0 0 calc(99%)" fxFlex.md="0 0 calc(49%)" fxFlex.gt-md="0 0 calc(49%)">
          <mat-card-header>
          <mat-card-title>
              <img mat-card-image style="max-height:50px;width:auto;" src="/assets/images/cisco-meeting.png"
                   [attr.alt]="'alt.cisco_meeting_logo' | translate">
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              {{ 'html.visio_inria' | translate }}
            </p>
            <p>
              <a href="https://visio.inria.fr/" style="color:blue"><mat-chip aria-hidden="true" role="none" class="small-chip" style="max-height:20px;background-color:blue;"
                                                          selected>{{ 'html.link' | translate }}</mat-chip> {{ 'html.visio_inria_link' | translate }}</a>
            </p>
            <p>
              <mat-chip role="none"
                        class="small-chip" style="max-height:20px;background-color:#2D8655;"
                        selected>{{ 'html.features' | translate }}</mat-chip> : {{ 'html.cisco_features' | translate }}
            </p>
          </mat-card-content>
        </mat-card>

        <mat-card class="basic-card content" fxLayoutGap="1%" fxFlex.sm="0 0 calc(99%)" fxFlex.md="0 0 calc(49%)" fxFlex.gt-md="0 0 calc(49%)">
          <mat-card-header>
          <mat-card-title>
            <img mat-card-image style="max-height:50px;width:auto;" src="/assets/images/livestorm.png"
                 [attr.alt]="'alt.livestorm_logo' | translate">
          </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              {{ 'html.livestorm' | translate }}
            </p>
            <p>
              <a href="mailto:com.pro@inria.fr" style="color: blue"><mat-chip aria-hidden="true" role= "none" class="small-chip"
                                                          style="max-height:20px;background-color:blue;"
                                                          selected>{{ 'html.link' | translate }}</mat-chip> {{ 'html.livestorm_link' | translate }}</a>
            </p>
            <p>
              <mat-chip role="none"
                        class="small-chip" style="max-height:20px;background-color:#2D8655;"
                        selected>{{ 'html.features' | translate }}</mat-chip> : {{ 'html.livestorm_features' | translate }}
            </p>
          </mat-card-content>
        </mat-card>

        <mat-card class="basic-card content" fxLayoutGap="1%" fxFlex.sm="0 0 calc(99%)" fxFlex.md="0 0 calc(49%)" fxFlex.gt-md="0 0 calc(49%)">
          <mat-card-header>
            <mat-card-title>
              <img mat-card-image style="max-height:50px;width:auto;" src="/assets/images/renater-rendezvous.png"
                   [attr.alt]="'alt.rendezvous_logo' | translate">
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              {{ 'html.rendez_vous' | translate }}
            </p>
            <p>
              <a href="https://rendez-vous.renater.fr/home/" style="color: blue"><mat-chip aria-hidden="true" role="none"
                                                                       class="small-chip" style="max-height:20px;background-color:blue;"
                                                                       selected>{{ 'html.link' | translate }}</mat-chip> {{ 'html.rendez_vous_link' | translate }}</a>
            </p>
            <p>
              <mat-chip role="none"
                        class="small-chip" style="max-height:20px;background-color:#2D8655;"
                        selected>{{ 'html.features' | translate }}</mat-chip> : {{ 'html.rdv_features' | translate }}
            </p>
          </mat-card-content>
        </mat-card>

      </div>

    </div>

  </div>
</div>

