/* Structure */
.result-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-height: 500px;
  overflow: auto;
}

.cards-container {
  display: grid;
  grid-template-columns: 20rem 1fr 1fr;
  grid-gap: .5rem;
}

.mat-standard-chip {
  height: auto !important;
}

.small-chip {
  height: 20px !important;
  min-height: 10px !important;
}

.card-layout-header {
  grid-column: span 3;
}

.card-layout-long {
  grid-column: 2 / span 2;
}

.card-layout-sidebar {
  grid-row: 1 / span 3;
}

.card-layout-footer {
  grid-column: span 3;
}


.basic-card {
}

.card-header-image-doge {
  background-image: url('../../assets/images/doge-square.jpg');
  background-size: cover;
}

.card-header-image-inria {
  background-image: url('../../assets/images/logo_inria.jpg');
  background-size: cover;
}


.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-checkbox-inner-container {
  height: 20px !important;
  width: 30px !important;
}

.mat-button {
  min-width: 12px;
  padding: 0 0;
}

.mat-icon svg {
  height: 12px;
  width: 12px;
}

.row {
  margin: 10px;
}

.mat-expansion-panel-header {
  background: rgba(190, 185, 208, 0.34);
}

.mat-expansion-panel-header:focus {
  background: rgba(186, 182, 204, 0.64);
}

.mat-expansion-panel-header:hover {
  background: rgba(185, 180, 202, 0.34);
}

.mat-expansion-panel-header.mat-expanded,
.mat-expansion-panel-header.mat-expanded:focus,
.mat-expansion-panel-header.mat-expanded:hover {
  background: rgba(145, 255, 206, 0.34);
}

table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}
