<div class="container">

  <br>
  <br>
  <br>

  <div class="row">

    <div class="col-md-6">

      <mat-card class="basic-card">

        <p>{{ 'html.local_account' | translate }}</p>

        <form class="form-signin" (ngSubmit)="login()" [formGroup]="loginForm">

          <mat-form-field appearance="fill" [style.width.%]="100">
            <mat-label>{{ 'html.sign_login' | translate }}</mat-label>
            <input matInput [formControl]="loginData.username" name="username" required autocomplete="on">
            <mat-error *ngIf="loginData.username.invalid">{{getErrorMessage("username")}}</mat-error>
          </mat-form-field>

          <br>
          <br>

          <mat-form-field appearance="fill" [style.width.%]="100">
            <mat-label>{{ 'html.sign_password' | translate }}</mat-label>
            <input matInput [formControl]="loginData.password" name="password" required autocomplete="on"
                   [type]="hidePwd ? 'password' : 'text'">
            <mat-icon alt="" role="presentation" matSuffix
                      (click)="hidePwd = !hidePwd">{{hidePwd ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-error *ngIf="loginData.password.invalid">{{getErrorMessage("password")}}</mat-error>
          </mat-form-field>

          <br>
          <br>
          <br>

          <button class="btn btn-lg btn-primary btn-block" name="submit_login" type="submit" style="background-color: #0275d8"
          >{{ 'html.sign_signin' | translate }}</button>

        </form>
      </mat-card>


      <mat-card class="basic-card" *ngIf=showCas>
        <p>{{ 'html.alternate_signin' | translate }}</p>
        <button class="btn btn-md btn-block mat-raised-button"
                aria-hidden="true"
                style="background-color:antiquewhite;vertical-align: text-bottom;" name="inria_cas" (click)="signcas()">
          CAS <img style="vertical-align: text-bottom;max-height:50px;width:auto;" src="/assets/images/logo_inria.png" [attr.alt]="'alt.inria_logo' | translate"/>
        </button>
      </mat-card>
    </div>
  </div>

  <mat-spinner *ngIf="showSpinner" style="position:fixed;right:40%;bottom:50%"></mat-spinner>

</div>
