<div class="container">

  <!-- Resources -->
  <h2>{{ 'html.current_tasks' | translate }}</h2>

  <div class="row">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">


      <!-- Owner Column -->
      <ng-container matColumnDef="owner">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'html.owner' | translate }}</th>
        <td mat-cell *matCellDef="let element"> {{element.owner}} </td>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'html.status' | translate }}</th>
        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
      </ng-container>

      <!-- Issued Column -->
      <ng-container matColumnDef="issued">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'html.issued' | translate }}</th>
        <td mat-cell *matCellDef="let element"> {{element.issued}} </td>
      </ng-container>

      <!-- Starts Column -->
      <ng-container matColumnDef="start_time">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'html.start_time' | translate }}</th>
        <td mat-cell *matCellDef="let element"> {{element.start_time}} </td>
      </ng-container>

      <!-- Ends Column -->
      <ng-container matColumnDef="end_time">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'html.end_time' | translate }}</th>
        <td mat-cell *matCellDef="let element"> {{element.end_time}} </td>
      </ng-container>

      <!-- Server type Column -->
      <ng-container matColumnDef="server_type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'html.server_type' | translate }}</th>
        <td mat-cell *matCellDef="let element"> {{element.server_type}} </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actionq">
        <th mat-header-cell *matHeaderCellDef>{{ 'html.actions' | translate }}</th>
        <td mat-cell *matCellDef="let element">
          <button class="btn btn-sm btn-outline-danger" ConfirmDialog
                  (then)="deleteItem(element.id)"
                  (else)="cancel()">
            {{ 'html.delete' | translate }}
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
  </div>

  <mat-spinner *ngIf="showSpinner" style="position:fixed;right:40%;bottom:50%"></mat-spinner>

</div>
