<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="!(isHandset$ | async)">
    <mat-toolbar style="color: white;">{{ 'html.menu' | translate }}</mat-toolbar>
    <mat-nav-list>
      <a [disabled]="!hasConsented()" mat-list-item href="#" (click)="isHandset$ ? navWithDrawer() : drawer.close()"
         routerLink="/visios"
         routerLinkActive="active"
         style="display:flex;align-items: center;">
        <mat-icon alt="" role="presentation" style="margin-right:5px;">home</mat-icon>
        <span>{{ 'html.home' | translate }}</span>
      </a>
      <a [disabled]="!hasConsented()" [hidden]="!isConnected()" mat-list-item href="#"
         (click)="isHandset$ ? navWithDrawer() : drawer.close()"
         routerLink="/visio-create"
         routerLinkActive="active"
         style="display:flex;align-items: center;">
        <mat-icon alt="" role="presentation" style="margin-right:5px;">video_call</mat-icon>
        <span>{{ 'html.create' | translate }}</span>
      </a>
      <a [disabled]="!hasConsented()" [hidden]="!isConnected()" mat-list-item href="#"
         (click)="isHandset$ ? navWithDrawer() : drawer.close()"
         routerLink="/visio-servers"
         routerLinkActive="active"
         style="display:flex;align-items: center;">
        <mat-icon alt="" role="presentation" style="margin-right:5px;">videocam</mat-icon>
        <span>{{ 'html.servers' | translate }}</span>
      </a>
      <a [disabled]="!hasConsented()" [hidden]="!isConnected()" mat-list-item href="#"
         (click)="isHandset$ ? navWithDrawer() : drawer.close()"
         routerLink="/visio-tasks"
         routerLinkActive="active"
         style="display:flex;align-items: center;">
        <mat-icon alt="" role="presentation" style="margin-right:5px;">fact_check</mat-icon>
        <span>{{ 'html.tasks' | translate }}</span>
      </a>
      <a [disabled]="!hasConsented()" [hidden]="!isConnected()" mat-list-item href="#"
         (click)="isHandset$ ? navWithDrawer() : drawer.close()"
         routerLink="/visio-requests"
         routerLinkActive="active"
         style="display:flex;align-items: center;">
        <mat-icon alt="" role="presentation" style="margin-right:5px;">fact_check</mat-icon>
        <span>{{ 'html.requests' | translate }}</span>
      </a>
      <a [disabled]="!hasConsented()" [hidden]="isConnected()" mat-list-item href="#"
         (click)="isHandset$ ? navWithDrawer() : drawer.close()"
         routerLink="/login"
         routerLinkActive="active" style="display:flex;align-items: center;">
        <mat-icon alt="" role="presentation" style="margin-right:5px;">account_box</mat-icon>
        <span>{{ 'html.sign_signin' | translate }}</span>
      </a>
      <a [disabled]="!hasConsented()" [hidden]="!isConnected()" mat-list-item tabindex="0"
         (click)="logout()" (keypress)="logout()" style="display:flex;align-items: center;">
        <mat-icon alt="" role="presentation" style="margin-right:5px;">power_settings_new</mat-icon>
        <span>{{ 'html.logout' | translate }}</span>
      </a>
      <a mat-list-item tabindex="0"
         (click)="displayConsentPopup()" (keypress)="displayConsentPopup()" style="display:flex;align-items: center">
        <span>{{ 'cookie.policy' | translate }}</span>
    </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content style="height:100vh;display: flex;flex-direction: column">

    <mat-toolbar color="#ba0d32" style="background-color:#ba0d32">
      <div class="col-md-8" style="width:auto;display: flex;align-items: center;">
        <button
          type="button"
          aria-hidden="true"
          tabindex="-1"
          aria-label="Toggle sidenav"
          mat-icon-button
          style="color: white;"
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>
      <h1 id="navbarTitle"><a style="font-size:3vmax;color: white;">{{ 'html.main_title' | translate }}</a></h1>
    </span>
      </div>
      <div class="col-md-4" style="width:auto;display: flex;align-items: center;">
        <div [hidden]="!isConnected()" style="display: flex;">
          <button type="button" class="btn" style="vertical-align: middle;">
            <span style="color: white;"> {{ loginName() }}</span>
          </button>
        </div>
      </div>
    </mat-toolbar>

    <ng-content></ng-content>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
