.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
  background-color: #ba0d32;
}

.mat-toolbar.mat-primary {
  background-color: #ba0d32;
  position: sticky;
  top: 0;
  z-index: 1;
}


