<div class="container">

  <!-- Resources -->
  <h2>{{ 'html.current_servers' | translate }}</h2>

  <div class="row">
    <div class="col-md-8">
      <button type="button" class="btn" (click)="reloaVisiodInfo()"
              style="color: white; border-radius: 4px;background-color: #007EA8;margin-left:5px;margin-right:5px;">
        {{ 'html.reload' | translate }}
      </button>
      <button [hidden]="!isAdmin()" type="button" class="btn"
              style="color: white; border-radius: 4px;background-color: #007EA8;margin-left:5px;margin-right:5px;"
              ConfirmDialog (then)="deleteAllVisio()" (else)="cancel()"
      >
        {{ 'html.del_all_visios' | translate }}
      </button>
    </div>
  </div>


  <div class="row">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

      <!-- URL Column -->
      <ng-container matColumnDef="url">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'html.url' | translate }}</th>
        <td mat-cell *matCellDef="let element"> {{element.url}} </td>
      </ng-container>

      <!-- Type Column -->
      <ng-container matColumnDef="server_type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'html.server_type' | translate }}</th>
        <td mat-cell *matCellDef="let element"> {{element.server_type}} </td>
      </ng-container>

      <!-- State Column -->
      <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'html.state' | translate }}</th>
        <td mat-cell *matCellDef="let element"> {{element.server_state}} </td>
      </ng-container>

      <!-- Creation date Column -->
      <ng-container matColumnDef="created">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'html.created_on' | translate }}</th>
        <td mat-cell *matCellDef="let element"> {{element.created}} </td>
      </ng-container>

     <!-- End time Column -->
     <ng-container matColumnDef="end">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'html.terminated_on' | translate }}</th>
      <td mat-cell *matCellDef="let element"> {{element.end}} </td>
    </ng-container>

      <!-- Duration time Column -->
      <ng-container matColumnDef="duration">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'html.duration' | translate }}</th>
        <td mat-cell *matCellDef="let element"> {{element.duration}} </td>
      </ng-container>



      <!-- Elapsed time Column -->
      <ng-container matColumnDef="elapsed">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'html.elapsed' | translate }}</th>
        <td mat-cell *matCellDef="let element"> {{element.elapsed}} </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actionq">
        <th mat-header-cell *matHeaderCellDef>{{ 'html.actions' | translate }}</th>
        <td mat-cell *matCellDef="let element">
          <button class="btn btn-sm btn-outline-secondary" (click)="detailsItem(element.name)">{{ 'html.details' | translate }}</button>
          <button *ngIf="isUserServer(element.name)" class="btn btn-sm btn-outline-secondary" (click)="extraTime(element.name)">{{ 'html.extra_time' | translate }}</button>
          <button *ngIf="isUserServer(element.name)" class="btn btn-sm btn-outline-danger" ConfirmDialog
                  (then)="deleteItem(element.name)"
                  (else)="cancel()">
            {{ 'html.delete' | translate }}
          </button>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
  </div>

  <mat-spinner *ngIf="showSpinner" style="position:fixed;right:40%;bottom:50%"></mat-spinner>

</div>
